* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #ccc;
}

.tank {
  position: absolute;
  width: 60px;
  height: 60px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  background: url(./../images/tankD.gif) no-repeat center;
}