* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  vertical-align: top;
  object-fit: cover;
}

a > img {
  border: none;
}

.waterfall-wrap {
  width: 90%;
  min-width: 700px;
  margin: 0 auto;
  outline: 1px solid #ccc;
}