* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

img {
  width: 100%;
  height: 100%;
  vertical-align: top;
  object-fit: cover;
}

a img {
  border: none;
}

.seamless-carousel-wrap {
  position: relative;
  width: 520px;
  height: 280px;
  outline: 1px solid #ccc;
  overflow: hidden;
}

.carousel-list {
  display: flex;
  /* 计算得来 */
  width: calc(100% * 6);
  height: 100%;
}

.carousel-list-item {
  flex: 0 0 auto;
  /* 计算得来 */
  width: calc(100% / 6);
  height: 100%;
}

.carousel-left-btn,
.carousel-right-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  font-weight: 700;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.3);
  cursor: pointer;
  visibility: hidden;
}

.carousel-left-btn:hover,
.carousel-right-btn:hover {
  background-color: rgba(0, 0, 0, 0.4);
}

.carousel-left-btn {
  left: 0;
  border-radius: 0 56.8% 56.8% 0;
}

.carousel-right-btn {
  right: 0;
  border-radius: 56.8% 0 0 56.8%;
}

.carousel-dots {
  display: flex;
  position: absolute;
  left: 50%;
  bottom: 12px;
  transform: translateX(-50%);
  padding: 2px 4px;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.3);
}

.carousel-dot-item {
  width: 8px;
  height: 8px;
  margin: 2px;
  border-radius: 50%;
  background-color: #fff;
  cursor: pointer;
}

.carousel-dot-item.active {
  background-color: #f40;
}
/* 使用：banner包裹 */
.banner {
  width: 520px;
  margin: 100px auto;
}