* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  width: 1000px;
  margin: 20px auto;
  outline: 1px solid #ccc;
}