* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

.container {
  display: flex;
  width: 1000px;
  padding: 10px;
  margin: 0 auto;
  background-color: rgba(0, 0, 255, 0.2);
}

.container .title,
.container .content-wrapper {
  height: 30px;
  line-height: 30px;
}

.container .title {
  padding-right: 20px;
  border-right: 2px solid #bbb;
}

.container .content-wrapper {
  padding-left: 20px;
  overflow-y: hidden;
}

.container .content > .notice-item {
  height: 30px;
  width: 874px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}